body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
ul li a{
    text-decoration: none;
}
ul li{
    list-style: none;
    margin: 10px;
}
ul{
    display: flex;
}
i{
    margin: 5px;
}
.cuadritos-1{
    display: flex;
}
.img-1{
    margin: 20px;
    margin-right: 5px;
    width: 50%;
    height: 900px;
    background-image: url(imgs/IMG-1.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.img-1 h2{
    margin-left: 20px;
    text-decoration: none;
}

.img-1 a{
    margin-top: 25px;
    margin-right: 20px;
    color: #fff;
}

.video-container {
    position: relative;
    width: 50%;
    height: 900px;
    overflow: hidden;
    margin: 20px;
    margin-right: 5px;
}

#video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}
.overlay-text {
    position: absolute;
    left: 20px; 
    color: #fff;
    z-index: 1;
}

.overlay-link {
    position: absolute;
    top: 25px;
    right: 20px; 
    color: #fff;
    z-index: 1;
    text-decoration: none;
    align-items: center;
}

.overlay-link:hover {
    text-decoration: underline;
}



